<div id="comments_list" class="space-y-6">
  <% grouped_comments.each do |video, comments| %>
    <div class="rounded-box border border-base-300 overflow-clip">
      <%= render "comments/video_group_header", video: video, comments: comments %>
      <div class="p-3 space-y-3 bg-base-200/30">
        <% comments.each do |comment| %>
          <%= render "comments/comment_card", comment: comment, view_mode: "grouped" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
