<div id="flash_messages" class="px-4 sm:px-6">
  <% if notice.present? %>
    <%= render "shared/flash_notice", message: notice %>
  <% end %>
  <% if alert.present? %>
    <%= render "shared/flash_alert", message: alert %>
  <% end %>
</div>
