<%# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if current_page.last? %>
  <span class="btn btn-sm join-item btn-disabled" aria-disabled="true" aria-label="Last page">
    <span class="iconify lucide--chevrons-right size-4"></span>
  </span>
<% else %>
  <%= link_to url, class: "btn btn-sm join-item", remote: remote, "aria-label": "Last page" do %>
    <span class="iconify lucide--chevrons-right size-4"></span>
  <% end %>
<% end %>