<div class="avatar">
  <div class="mask mask-squircle w-8 bg-linear-to-br from-violet-500 to-fuchsia-500 flex items-center justify-center">
    <span class="text-white text-sm font-semibold"><%= user_initials(name, last_name) %></span>
  </div>
</div>