<div class="mb-2 border-base-200 rounded-box mx-2.5 mt-2 border px-2.5 py-2.5">
  <div class="bg-base-200 rounded-box inline-flex items-center justify-center p-1.5">
    <span class="iconify lucide--layers-2 size-4"></span>
  </div>
  <div class="mt-5 flex items-center justify-between">
    <p class="text-sm font-medium">Basic</p>
    <span class="text-base-content/80 text-xs">84%</span>
  </div>
  <progress
    max="2000"
    value="1600"
    class="progress progress-warning h-1.5 align-super"></progress>
  <div class="-mt-2 flex items-center justify-between">
    <span class="text-sm font-medium">320 left</span>
    <span class="text-base-content/80 text-xs">2K Tokens</span>
  </div>
  <button class="btn btn-outline btn-block border-base-300 mt-3 h-9">
    <span class="iconify lucide--zap text-base-content/80"></span>
    Upgrade
  </button>
</div>