<div tabindex="0" class="<%= active ? "border border-base-300" : "" %> hover:bg-base-200 rounded-box flex cursor-pointer items-center gap-2 p-1 pe-2">
  <%= project_avatar(project.id) %>
  <div class="grow">
    <p class="text-sm/none font-medium"><%= project.name %></p>
    <p class="mt-1 text-xs/none opacity-60">On Hold</p>
  </div>
  <% if active %>
     <span class="iconify lucide--chevrons-up-down text-base-content/50"></span>
  <% end %>
</div>