<%= button_tag(
      nil,
      class: "relative tw-lj btn btn-sm btn-circle btn-ghost",
      aria_label: "Toggle Theme",
      data: { "toggle-theme": "dark,light", "act-class": "ACTIVECLASS" }
    ) do %>
  <span class="iconify lucide--sun absolute size-4.5 -translate-y-4 opacity-0 transition-all duration-300 group-data-[theme=light]/html:translate-y-0 group-data-[theme=light]/html:opacity-100"></span>
  <span class="iconify lucide--moon absolute size-4.5 translate-y-4 opacity-0 transition-all duration-300 group-data-[theme=dark]/html:translate-y-0 group-data-[theme=dark]/html:opacity-100"></span>
  <span class="iconify lucide--palette absolute size-4.5 opacity-100 group-data-[theme=dark]/html:opacity-0 group-data-[theme=light]/html:opacity-0"></span>
<% end %>
