@plugin "daisyui" {
    exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
    name: "dark";
    color-scheme: dark;
    prefersdark: true;

    /* == Layout Colors == */
    --root-bg: #121416;
    --layout-sidebar-background: #181c20;
    --layout-topbar-background: #181b1f;

    /* == Base Colors == */
    --color-base-100: #181c20;
    --color-base-200: #22262a;
    --color-base-300: #2c3034;
    --color-base-content: #f0f4f8;

    /* == Colors == */
    --color-primary: #378dff;
    --color-primary-content: #ffffff;
    --color-secondary: #b071ff;
    --color-secondary-content: #ffffff;
    --color-accent: #00d3bb;
    --color-accent-content: #f3fbf6;
    --color-neutral: #dce1e6;
    --color-neutral-content: #1e2832;
    --color-info: #14b4ff;
    --color-info-content: #ffffff;
    --color-success: #0bbf58;
    --color-success-content: #ffffff;
    --color-warning: #f5a524;
    --color-warning-content: #150a00;
    --color-error: #f31260;
    --color-error-content: #ffffff;

    /* == Sizes == */
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --rounded-box: 0.25rem;
    --radius-selector: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --card-p: 20px;
    --card-fs: var(--text-base);

    /* == Other Options == */
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    color-scheme: light;

    /* == Layout Colors == */
    --root-bg: #fafbfc;
    --layout-sidebar-background: #ffffff;
    --layout-topbar-background: #ffffff;

    /* == Base Colors == */
    --color-base-100: #ffffff;
    --color-base-200: #eef0f2;
    --color-base-300: #dcdee0;
    --color-base-content: #1e2328;

    /* == Colors == */
    --color-primary: #167bff;
    --color-primary-content: #ffffff;
    --color-secondary: #9c5de8;
    --color-secondary-content: #ffffff;
    --color-accent: #00d3bb;
    --color-accent-content: #f3fbf6;
    --color-neutral: #1e2832;
    --color-neutral-content: #fafcff;
    --color-info: #14b4ff;
    --color-info-content: #ffffff;
    --color-success: #0bbf58;
    --color-success-content: #ffffff;
    --color-warning: #f5a524;
    --color-warning-content: #150a00;
    --color-error: #f31260;
    --color-error-content: #ffffff;

    /* == Sizes == */
    --radius-field: 0.25rem;
    --radius-box: 0.25rem;
    --rounded-box: 0.25rem;
    --radius-selector: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --card-p: 20px;
    --card-fs: var(--text-base);

    /* == Other Options == */
    --depth: 0;
    --noise: 0;
}