/** Importing font files: Google Fonts **/
/*@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;950;1000&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800;1000&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:wght@400;500;600;700;800;900;1000&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700;800;1000&display=swap");*/

/** Typography config for tailwindcss **/
@theme {
    --font-sans: "Inclusive Sans", sans-serif;

    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
}

[data-font-family="default"] {
    --font-sans: "Inclusive Sans", sans-serif;
}
[data-font-family="dm-sans"] {
    --font-sans: "DM Sans", sans-serif;
}
[data-font-family="wix"] {
    --font-sans: "Wix Madefor Text", sans-serif;
}
[data-font-family="inclusive"] {
    --font-sans: "Inclusive Sans", sans-serif;
}
[data-font-family="ar-one"] {
    --font-sans: "AR One Sans", sans-serif;
}

body {
    @apply font-sans text-base;
}

strong {
    @apply font-medium;
}
